<div class="sidebar" [class.collapsed]="collapsed">

  <div class="logo">
    SCWMS
  </div>

  <nav>

    <a routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span class="label">Dashboard</span>
    </a>

    <a routerLink="/inventory">
      <mat-icon>inventory</mat-icon>
      <span class="label">Inventory</span>
    </a>

    <a routerLink="/vendors">
      <mat-icon>business</mat-icon>
     <span class="label">Vendors</span>
    </a>

    <a routerLink="/items">
      <mat-icon>inventory_2</mat-icon>
     <span class="label">Items</span>
    </a>

    <a routerLink="/warehouses">
      <mat-icon>warehouses</mat-icon>
      <span class="label">Warehouses</span>
    </a>
    
    <a routerLink="/purchase-orders">
      <mat-icon>receipt_long</mat-icon>
      <span class="label">Purchase Orders</span>
    </a>

    <a routerLink="/grn">
      <mat-icon>local_shipping</mat-icon>
      <span class="label">GRN</span>
    </a>

    <a routerLink="/rol">
      <mat-icon>analytics</mat-icon>
      <span class="label">ROL Analytics</span>
    </a>

  </nav>

</div>