# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj.user

# VS Code
.vscode/

# Logs
*.
# OS
.DS_Store
Thumbs.db

# Publish
publish/

# Secrets
appsettings.Development.json

# Test Results
TestResults/


node_modules/
/dist/
/out-tsc/
.angular/
*.log
npm-debug.log
yarn-error.log

.vscode/