<!-- <h2>Warehouses</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let w of warehouses">
      <td>{{ w.name }}</td>
      <td>{{ w.location }}</td>
      <td>{{ w.isActive ? 'Active' : 'Inactive' }}</td>
    </tr>
  </tbody>
</table> -->

<div class="glass-card">

  <h2>Warehouses</h2>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        {{ row.name }}
      </td>
    </ng-container>

    <!-- Location -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let row">
        {{ row.location }}
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">

        <span class="status-badge"
              [ngClass]="row.isActive ? 'status-approved' : 'status-rejected'">

          {{ row.isActive ? 'Active' : 'Inactive' }}

        </span>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <mat-paginator [pageSize]="5"></mat-paginator>

</div>